#radioGroup .wrap {
  display: inline-block;
}
#radioGroup label {
  display: block;
  text-align: center;
  margin: 0 0.2em;
}
#radioGroup input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

.form_film {
	color:white;
	margin:2px;
	padding:20px;
	text-align:left;
}
.button_note {
	color:white;
	align:right;
}
