<doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NetfleX</title>

</head>

<style>
body {
	color: white;
}
h1 {
	color: #00FF00;
}
p {
	color: black;
	background-color: white;
	text-align: center;
}
</style>

<body style="background-color: #2C2D2D">
	<label for="choix_films" align="center">Indiquez votre film préféré :</label>
	<input list="Films" name="nomFilm" type="text" id="choix_films" align="center" size="50">
	<datalist id="Films">	
		{% for filmTitle in liste_movies %}
			<option value="{{ filmTitle }}">
		{% endfor %}
	</datalist>
	<form action="/turbo_site/premiere_note/" method="post">{% csrf_token %}
		<p>Note :</p>
		<div id="radioGroup" align="center">
		<div class="wrap">
			<label for="note0">0</label>
			<input type="radio" name="note" value="0" id="note0">
		</div>
		<div class="wrap">
			<label for="note1">1</label>
			<input type="radio" name="note" value="1" id="note1">
		</div>
		<div class="wrap">
			<label for="note2">2</label>
			<input type="radio" name="note" value="2" id="note2" />
		</div>
		<div class="wrap">
			<label for="note3">3</label>
			<input type="radio" name="note" id="note3" value="3" >
		</div>
		<div class="wrap">
			<label for="note4">4</label>
			<input type="radio" name="note" id="note4" value="4" >
		</div>
		<div class="wrap">
			<label for="note5">5</label>
			<input type="radio" name="note" id="note5" value="5" >
		</div>
		<!-- Pour une partie aléatoire future 
		<div class="wrap">
				<label for="note_1">Je n'ai pas vu le film</label>
				<input type="radio" name="note" id="note_1" value="-1" >
		</div>
		-->
		</div>
		<div class="buttonHolder">
			<input type="submit" value="Submit">
		</div>
	</form>
</body>
</html>

<style type="text/css">
	#radioGroup .wrap {
		display: inline-block;
	}
	#radioGroup label {
		display: block;
		text-align: center;
		margin: 0 0.2em;
	}
	#radioGroup input[type="radio"] {
		display: block;
		margin: 0.5em auto;
	}
	.buttonHolder{ text-align: center; }
</style>
