.resume, th, td{
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}


.titre_recommande{
    font-size: large;
    font-weight: bold;
    text-align: middle;
    width: 20%;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    margin-left: 35%;
}


.note{
    padding: 2px;
    text-align: center;
    border-color: (116, 113, 113);
    margin-left: 2px;
    margin-right: 2px;
    width: 400px;
}