  body {
    background: #333333;
    color: #fafafa;
    /*margin-top: 5rem;*/;
  }
  

  h1 {
  color: #fafafa;
  text-align: center;
  }

  h2, h3, h4, h5, h6 {
    color: #fafafa;
  }
  
  /*ul {
    margin: 0;
  }*/

  .menu {
    list-style-type: none;
    margin: 30;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .item_menu {
    float: left;
    font-size: large;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
  }

  .item_menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .item_menu a:hover {
    background-color: #111;
  }


  p {
	color: white;
	background-color: #333333;
	text-align: center;
  }

  
  /*.bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #d1157c;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #eb0f0f;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }*/

  #radioGroup .wrap {
    display: inline-block;
  }
  #radioGroup label {
    display: block;
    text-align: center;
    margin: 0 0.2em;
  }
  #radioGroup input[type="radio"] {
    display: block;
    margin: 0.5em auto;
  }
  .buttonHolder{ text-align: center; }

  .button{
    background-color : #faf5f5;
    outline : none;
    border-radius : 12px;
    vertical-align : middle;
  }


  .Presentation{
    font-size: larger;
    text-decoration: underline;
    color: white;
    background-color: #333333;
    text-align: left;
    margin-top: 40px;
  }


  .explanation{
    text-align: left;
    font-size: smaller;
  }

/* Ceci se situe maintenant dans le css formulaire.css

  .form_movie {
    text-align: middle;
    width: 800px;
  }

  #id_form-0-title, #id_form-1-title, #id_form-2-title, #id_form-3-title, #id_form-4-title {
    padding: 2px;
    border: 3px solid rgb(116, 113, 113);
    margin-top: 2px;
    margin-bottom: 2px;
    width: 350px;
  }

  #id_form-0-rating, #id_form-1-rating, #id_form-2-rating, #id_form-3-rating, #id_form-4-rating{
    padding: 2px;
    border: 3px solid rgb(116, 113, 113);
    margin-top: 2px;
    margin-bottom: 2px;
    width: 80px;
  }*/
