{% extends "NetfleX/website_template.html" %}

{% block content %}
        <form action="/NetfleX/page_finale/"  method='POST' class='form_film'>
	{{ formset.management_form }}
		{% csrf_token %}
		{% for film_form in formset %}
			{{ film_form.as_p }}
			<datalist id="Films">
				{% for filmTitle in liste_movies %}
					<option value="{{ filmTitle }}">
				{% endfor %}
                        </datalist>
		{% endfor %}
		<input type="submit" value="J'ai choisi ces films !" class="button"/>
	</form>
{% endblock %}
