{% extends "NetfleX/website_template.html" %}

<!--{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'NetfleX/formulaire.css' %}">-->

{% block content %}

	<p class="Presentation"> 
		Vous pouvez ici choisir 5 films, ainsi que les notes que vous leur attribuez pour que nous puissions vous recommander un nouveau film :
		
	</p>

		<form action="/NetfleX/page_finale/"  method='POST' class='form_film'>

	{{ formset.management_form }}
		{% csrf_token %}
		{% for film_form in formset %}
			{{ film_form.as_p }}
			<datalist id="Films">
				{% for filmTitle in liste_movies %}
					<option value="{{ filmTitle }}">
				{% endfor %}
                        </datalist>
		{% endfor %}
		<input type="submit" value="Je valide mon choix de films !" class="button"/>
	</form>
{% endblock %}
