{% extends "NetfleX/website_template.html" %}

{% block content %}

<p class="Presentation">Veuillez choisir un film puis indiquez si vous l'aimez ou le détestez.</p>
<p style="float:left">En fonction de votre réponse, nous vous conseillerons des films appréciés par des utilisateurs ayant le même avis que vous.</p>
<br>
<br>

<form action="/NetfleX/conseil/"  method='POST' class='form_film_conseil'>
    {% csrf_token %}
    {{ aime_ou_deteste.non_field_errors }}
    <p class="aime_ou_deteste">
        {{ aime_ou_deteste.titre.errors }}
        <label for="{{ aime_ou_deteste.titre.id_for_label }}">Titre:</label>
        {{ aime_ou_deteste.titre }}
        <datalist id="Films">
            {% for filmTitle in liste_movies %}
                <option value="{{ filmTitle }}">
            {% endfor %}
        </datalist>
    </p>
    <p class="box">
        {{ aime_ou_deteste.film_conseil_aime.errors }}
        <label for="{{ form.film_conseil_aime.id_for_label }}">J'aime:</label>
        {{ aime_ou_deteste.film_conseil_aime }}
    </p>
    <p class="box">
        {{ aime_ou_deteste.film_conseil_deteste.errors }}
        <label for="{{ form.film_conseil_deteste.id_for_label }}">Je déteste:</label>
        {{ aime_ou_deteste.film_conseil_deteste }}
    </p>
    <p>
        {{ aime_ou_deteste.nombre_films.errors }}
        <label for="{{ form.nombre_films.id_for_label }}">Combien de conseils de films voulez-vous? (entre 1 et 10)</label>
        {{ aime_ou_deteste.nombre_films }}
    </p>
    <input type="submit" value="Je valide le film pour le conseil!" class="button"/>
</form>


{% if films_possibles %}
<p>Compte tenu du film que vous avez choisi, nous vous conseillons la liste de films suivante : </p>

    <table class="resume" >

        <tr>
            <th>Films conseillés</th>
            {% for tag in liste_tags %}
                <th class="tag">{{ tag }}</th>
            {% endfor %}
        </tr>
        {% for film in tableau_tags %}
        <tr>
            {% for tag in film %}
                {% if tag %}
                    <script type='text/javascript'> 
                    var tag_j = "{{tag}}";
                    alert(tag_j);
                    if(tag_j == "True" ){
                        document.write('<td class="note"><p>X</p></td>');
                        alert('ici');
                    } else{
                        document.write('<td class="note">{{ tag }}</td>');
                        alert('la');
                    }
                    </script>
                {% endif %}
                {% if not tag %}
                    <td class="note"> </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    <ul>
        {% for film in film_avec_tag %}
        <li>{{ film }}</li>
        {%endfor%}
    </ul>
{% endif %}

<p>Debug :</p>
{{ tags_films_choisis }}

                    <!--{% for val in tag %}
                        {% if val.1 %}
                            <td>{{ val.0 }}</td>
                        {% endif %}
                        {% if not val.1 %}
                            <td>X</td>
                        {% endif %}
                    {% endfor %}-->
    
{% endblock %}