{% extends "NetfleX/website_template.html" %}

{% block content %}

	<p class = Presentation>Résumé de vos choix :</p>

	<!--{% for film in films_choisis %}
	<p1>Vous avez choisi le film : <span class="film_choisi">{{ film.0  }}</span>	<br>
	Vous lui avez donné la note : <span class="note_attribuee">{{ film.1 }}</span><br>
	</p1>
	{% endfor %}-->
	{% if message_meme_choix %}
		<p>{{ message_meme_choix }}</p>
	{% endif %}
	<br>

	<table class="resume" >

		<tr>
			<th>Films choisis</th>
			<th class="note">Notes attribuées</th>
		</tr>
		{% for film in films_choisis %}
		<tr>
			<td>{{ film.0 }}</td>
			<td>{{ film.1 }}</td>
		</tr>
		{% endfor %}

	</table>

	<p class = "Presentation">Compte tenu de vos choix, nous vous proposons le film suivant :</p>

	<p class = "titre_recommande"> {{ titre_recommande }}</p>

	<p style="text-align: left">Merci!</p>
	
	<h3>Debug :</h3>
	id du film : {{ liste_movieId }}<br>
		couple id et note : {{ utilisateur }}<br>
		film recommandé : <span>{{ film_recommande }} </span> <br> <br>

	titre : <span class="titre_rec"> {{ titre_recommande }}</span> <br>
	<p1> Merci! </p1>

	<h3>Fin du debug</h3>




{% endblock %}
