{% extends "NetfleX/website_template.html" %}

<!--{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'NetfleX/formulaire.css' %}">-->

{% block content %}

	<p class="Presentation"> 
		Vous pouvez ici choisir 5 films, ainsi que les notes (entre 0 et 5) que vous leur attribuez pour que 
		nous puissions vous recommander un nouveau film :
	</p>

	<p class="explanation"> Si vous souhaitez changer le nombre de films sur lequel se base 
	la recommandation, <a href="/NetfleX/changement/">cliquez ici</a>.  </p>

	<!--<p> Debug : movie_number = {{ movie_number }} </p>-->

	<p>{{ message }}</p>

	<form action=""  method='POST' class='form_movie'>

	{{ formset.management_form }}
		{% csrf_token %}
		{% for movie_form in formset %}
			{{ movie_form.as_p }}
			<datalist id="Films">
				{% for movieTitle in list_movies %}
					<option value="{{ movieTitle }}">
				{% endfor %}
            </datalist>
		{% endfor %}
		<input type="submit" value="Je valide mon choix de films !" class="button"/>
	</form>
{% endblock %}
