<doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>NetfleX</title>

</head>

<style>
body {
	color: white;
}
h1 {
	color: #00FF00;
}
p {
	color: black;
	background-color: white;
	text-align: center;
}
</style>

<body style="background-color: #2C2D2D">
	{% block content %}
	{% endblock %}
</body>
</html>

<style type="text/css">
	#radioGroup .wrap {
		display: inline-block;
	}
	#radioGroup label {
		display: block;
		text-align: center;
		margin: 0 0.2em;
	}
	#radioGroup input[type="radio"] {
		display: block;
		margin: 0.5em auto;
	}
	.buttonHolder{ text-align: center; }
</style>
